@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Bienvenidos a la Web de Reservas y Citas Medicas Online</h1>
    <p class="lead">
        Somos una pagina en la cual podes reservar, reagendar, cancelar tus citas medicas. 
        Contamos con profesionales disponibles las 24hs para poder brindarte la mejor atención posible! 
    </p>
    
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Primary card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>


<div class="card mb-3">
    <img style="height: 400px; width: 50%; display: block;" src="~/images/Doctores.jpg" alt="Card image" align="bottom">
    <div class="card-body">
        <p class="card-text">Los mejores profesionales del pais!</p>
    </div>
    
    <div class="card-body">
        <a href="#" class="card-link">Ir Arriba</a>
    </div>
   
</div>
