@{
    ViewBag.Title = "Nosotros";
}

<div class="jumbotron">
    <h1>Bienvenidos</h1>
    <p class="lead"> Integrantes
                     -Brayan Salcedo
                     -Arturo Solis
                     -Hernan Leguizamon
                     -Renato Jara
                     -Adolfo Arrua
    
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Sistema de Reserva y Citas</h4>
    <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
</div>