

@{
    ViewBag.Title = "Nosotros";
}

<h2>Integrantes:</h2>

<h3>   -Brayan Salcedo </h3>
<h3>   -Arturo Solis  </h3>
<h3>   -Hernan Leguizamon </h3>
<h3>   -Renato Jara    </h3>
<h3>   -Adolfo Arrua </h3>


