

@{
    ViewBag.Title = "Nosotros";
}

<h2>Integrantes:</h2>

<h3>   -Brayan Salcedo </h3>
    Mi nombre es Brayan Yahil Salcedo Enciso. Tengo 23 años. Vivo en la ciudad de Ñemby, Barrio Cañadita. Actualmente estoy estudiando Ingeniería en Informática en la Universidad Autónoma de Asunción.
<img style="height: 300px; width: 40%; display: block;" src="~/images/jjjjjj.png" alt="Card image" align="bottom"> 
<h3>   -Arturo Solis  </h3>
    Mi nombre es Arturo Fabian Solis Vega. Tengo 24 años. Vivo en la ciudad de Villa Elisa.     
<h3>   -Hernan Leguizamon </h3>
    Mi nombre es Hector Hernan Leguizamon Villalba. Tengo 22 años. Vivo en la ciudad de Mariano Roque Alonso. 
    <img style="height: 300px; width: 40%; display: block;" src="~/images/20191016_203839.jpg" alt="Card image" align="bottom">
    <h3>   -Renato Jara    </h3>
    Mi nombre es Renato Daniel Jara Nuñez Tengo 23 años. Vivo en la ciudad de Luque.
<img style="height: 300px; width: 40%; display: block;" src="~/images/20191016_203827.jpg" alt="Card image" align="bottom">
    <h3>   -Adolfo Arrua </h3>
    Mi nombre es Adolfo Damian Arrua Fretes. Tengo 25 años. Vivo en la ciudad de San Lorenzo.

